In [1]:
import pyspark
import pandas as pd

In [2]:
pd.read_csv('Test.csv')

     Name   Age  Experience  Salary
0   Ayush  20.0        10.0     300
1    Amit  22.0         4.0     100
2   Akask  24.0         2.0      50
3   Sunny   2.0        12.0    2000
4  Mukesh   NaN         NaN     200

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/31 19:25:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv('Test.csv')

In [7]:
df_pyspark.show()

+------+----+----------+------+
|   _c0| _c1|       _c2|   _c3|
+------+----+----------+------+
|  Name| Age|Experience|Salary|
| Ayush|  20|        10|   300|
|  Amit|  22|         4|   100|
| Akask|  24|         2|    50|
| Sunny|   2|        12|  2000|
|Mukesh|null|      null|   200|
+------+----+----------+------+

In [8]:
df_pyspark = spark.read.option('header','true').csv('Test.csv', inferSchema= True)

In [9]:
df_pyspark.head(5)

[Row(Name='Ayush', Age=20, Experience=10, Salary=300),
 Row(Name='Amit', Age=22, Experience=4, Salary=100),
 Row(Name='Akask', Age=24, Experience=2, Salary=50),
 Row(Name='Sunny', Age=2, Experience=12, Salary=2000),
 Row(Name='Mukesh', Age=None, Experience=None, Salary=200)]

In [10]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [11]:
df_pyspark = spark.read.csv('Test.csv', header = True,inferSchema= True)
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Ayush|  20|        10|   300|
|  Amit|  22|         4|   100|
| Akask|  24|         2|    50|
| Sunny|   2|        12|  2000|
|Mukesh|null|      null|   200|
+------+----+----------+------+

In [12]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.select(['Name','Age'])

DataFrame[Name: string, Age: int]

In [15]:
df_pyspark.select(['Name','Age']).show()

+------+----+
|  Name| Age|
+------+----+
| Ayush|  20|
|  Amit|  22|
| Akask|  24|
| Sunny|   2|
|Mukesh|null|
+------+----+

In [16]:
#### Add A Column

In [17]:
df_pyspark = df_pyspark.withColumn('Age After 2 Years',df_pyspark['Age']+2)

In [18]:
df_pyspark.show()

+------+----+----------+------+-----------------+
|  Name| Age|Experience|Salary|Age After 2 Years|
+------+----+----------+------+-----------------+
| Ayush|  20|        10|   300|               22|
|  Amit|  22|         4|   100|               24|
| Akask|  24|         2|    50|               26|
| Sunny|   2|        12|  2000|                4|
|Mukesh|null|      null|   200|             null|
+------+----+----------+------+-----------------+

In [19]:
#### Drop A column

In [20]:
df_pyspark=df_pyspark.drop('Age After 2 Years')

In [21]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Ayush|  20|        10|   300|
|  Amit|  22|         4|   100|
| Akask|  24|         2|    50|
| Sunny|   2|        12|  2000|
|Mukesh|null|      null|   200|
+------+----+----------+------+

In [22]:
df_pyspark.na.drop().show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Ayush| 20|        10|   300|
| Amit| 22|         4|   100|
|Akask| 24|         2|    50|
|Sunny|  2|        12|  2000|
+-----+---+----------+------+

In [23]:
df_pyspark.na.drop(how = "all").show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Ayush|  20|        10|   300|
|  Amit|  22|         4|   100|
| Akask|  24|         2|    50|
| Sunny|   2|        12|  2000|
|Mukesh|null|      null|   200|
+------+----+----------+------+

In [28]:
df_pyspark.na.drop(how = "any",thresh=2).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Ayush|  20|        10|   300|
|  Amit|  22|         4|   100|
| Akask|  24|         2|    50|
| Sunny|   2|        12|  2000|
|Mukesh|null|      null|   200|
+------+----+----------+------+

In [29]:
df_pyspark.na.drop(how = "any",subset=['Experience']).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Ayush| 20|        10|   300|
| Amit| 22|         4|   100|
|Akask| 24|         2|    50|
|Sunny|  2|        12|  2000|
+-----+---+----------+------+

In [35]:
df_pyspark.na.fill(1000,['Experience']).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Ayush|  20|        10|   300|
|  Amit|  22|         4|   100|
| Akask|  24|         2|    50|
| Sunny|   2|        12|  2000|
|Mukesh|null|      1000|   200|
+------+----+----------+------+

In [37]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
        inputCols = ['Age','Experience','Salary'],
        outputCols = ["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
).setStrategy("mean")